<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/allProduct.css">
    <link rel="stylesheet" href="../css/pagination.css">
    <title>allProduct</title>

</head>
<body>
    <div th:replace="include/nav :: navbar"></div>

    <main class="product-container">
        <div class="filter-section">
            <p class="filter-title">상품별</p>
            <div class="filter-tags">
                <div class="tags" th:each="main_list : ${main_list}">
                    <a th:href="@{/product/{title}(title=${main_list.title})}" th:text="${main_list.title}">대분류이름들</a>
                </div>
            </div>
        </div>

        <div class="product-grid">
            <div class="product-card" th:each="product_list : ${product_list}">
                <a th:href="@{/product/{product_name}/{id}/{productId}(product_name=${product_list.product_name}, id=${product_list.sub_category_id}, productId=${product_list.id})}">
                    <div th:each="product_img_list : ${product_img_list}"
                         th:if="${product_list.product_img_id == product_img_list.id}">
                        <img th:src="@{/img/product_img/{img1}(img1=${product_img_list.img1})}" alt="상품 이미지">
                    </div>
                    [<span th:text="${product_list.brand}">브랜드이름</span>]
                    <h3 th:text="${product_list.product_name}">상품이름</h3>
                </a>
                <span th:text="${product_list.getFormattedPrice}">가격</span>
            </div>
        </div>

        <div class="pagination">
            <button th:if="${pageVo.curBlock > 0}" class="page-btn prev" th:onclick="|goToPage('${pageVo.totalPage}', '${pageVo.page}', '${pageVo.totalPage}')|">&laquo;</button>
            <button th:if="${}" class="page-btn" onclick="goToPage(1)">1</button>
            <button class="page-btn" onclick="goToPage(2)">2</button>
            <button class="page-btn active" onclick="goToPage(3)">3</button>
            <button class="page-btn" onclick="goToPage(4)">4</button>
            <button class="page-btn" onclick="goToPage(5)">5</button>
            <button class="page-btn next" onclick="goToPage('next')">&raquo;</button>
        </div>

        <div class="total-products">
            <span>총 639개의 상품이 있습니다.</span>
        </div>
    </main>
    <script src="/js/pagination.js"></script>
</body>
</html>