<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/nav.css">
    <title>Cart</title>
</head>
<body>
    <div th:replace="include/nav :: navbar"></div>

    <div class="cart-container">
        <h1 class="cart-title">장바구니</h1>

        <div class="cart-item-container">
            <h3>장바구니 상품</h3>

            <div class="cart-item" th:each="cartList, iterStat : ${cartList}">

                <!-- 체크박스 -->
                <input type="checkbox" class="cart-item-checkbox" th:id="${iterStat.index}"
                       th:productId="${cartList.productId}" th:design="${cartList.design}" th:amount="${cartList.amount}" th:price="${cartList.price}" th:img="${cartList.img}">

                <!-- 상품 이미지 -->
                <img th:src="@{/img/product_img/{img1}(img1=${cartList.img})}" alt="상품 이미지" class="cart-item-image">

                <div class="cart-item-details">
                    <p class="cart-item-title" th:text="${cartList.product_name}">상품이름</p>
                    <p class="cart-item-title" th:text="${cartList.design}">디자인이름</p>
                    <p class="cart-item-price" th:text="${cartList.price}" th:id="'price_' + ${iterStat.index}">상품가격</p>
                </div>

                <div class="cart-item-quantity">
                    <span class="mb-5">수량</span>
                    <div class="quantity-controls">
                        <button class="minus" th:id="'minus_' + ${iterStat.index}">-</button>
                        <input type="text" th:value="${cartList.amount}" th:id="'amount_' + ${iterStat.index}" class="quantity-input">
                        <button class="plus" th:id="'plus_' + ${iterStat.index}">+</button>
                    </div>
                </div>

                <div class="cart-item-total">
                    <p th:id="'item_price_' + ${iterStat.index}">상품가격 * 수량</p>
                </div>

                <!-- 삭제 버튼 -->
                <button class="delete-btn" th:productId="${cartList.productId}" th:design="${cartList.design}"
                        onclick="deleteCartItem(this.getAttribute('productId'), this.getAttribute('design'))">x</button>
            </div>

            <div class="cart-summary">
                <div class="summary-item">
                    <span>총 상품금액</span>
                    <span id="totalPrice">1,000원</span>
                </div>
                <div class="summary-item">
                    <span>총 배송비</span>
                    <span id="delivery_fee">2,500원</span>
                </div>
                <div class="summary-total">
                    <span>결제예정금액</span>
                    <span id="finalPrice">상품금액 + 배송비</span>
                </div>
            </div>

            <div class="cart-buttons">
                <button class="order-all" onclick="allCartItemOrder()">전체상품주문</button>
                <button class="order-selected">선택상품주문</button>
            </div>
        </div>
    </div>

    <script>
        'use strict'
        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        const minus = document.querySelectorAll('.minus');
        const plus = document.querySelectorAll('.plus');

        const amountFields = document.querySelectorAll('.quantity-input');

        amountFields.forEach(field => {
            const index = field.id.split('_')[1];
            item_price_view(index);
        })

        totalPriceResult();

        minus.forEach(button => {
            button.addEventListener('click', function() {
                const index = this.id.split('_')[1];
                let amountField = document.getElementById(`amount_${index}`);
                let amount = parseInt(amountField.value);

                if (amount == 1) {
                    alert('수량을 1개 미만으로 설정할 수 없습니다.');
                    return;
                }
                amount = amount - 1;
                amountField.value = amount;

                item_price_view(index);
                totalPriceResult();
            })
        })

        plus.forEach(button => {
            button.addEventListener('click', function() {

                // 현재 상품의 남아있는 수량을 체크해서 그 이상 숫자가 커질 수 없게 막아야한다.

                const index = this.id.split('_')[1];
                let amountField = document.getElementById(`amount_${index}`);
                let amount = parseInt(amountField.value);

                amount = amount + 1;
                amountField.value = amount;

                item_price_view(index);
                totalPriceResult();
            })
        })

        function item_price_view(index){
            const price = parseInt(document.getElementById(`price_${index}`).textContent.trim());
            const amount = parseInt(document.getElementById(`amount_${index}`).value.trim());

            if (!isNaN(price) && !isNaN(amount)) {
                const item_price = price * amount;
                document.getElementById(`item_price_${index}`).textContent = item_price.toLocaleString() + ' 원';
            }
        }

        function deleteCartItem(productId, design){
            if(productId == '' || design == ''){
                alert('onclick 데이터 받아오는거 실패');
            }

            let item = {
                productId : productId,
                design : design
            }

            fetch('/product/deleteCartItem', {
                method: 'POST',
                headers: {
                    [csrfHeader]: csrfToken,
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(item)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if(data.success){

                    location.reload();
                }
                else alert('장바구니삭제 실패');
            })
            .catch(error => {
                console.error('Error:', error);
                alert('장바구니 삭제 중 에러 발생');
            });
        }

        function totalPriceResult(){
            let totalPrice = 0;

            document.querySelectorAll('.cart-item-total').forEach((item) => {
                let itemPriceTem = item.textContent;
                let itemPrice = parseInt(itemPriceTem.replace(/,/g, '').replace(' 원', ''));

                if (!isNaN(itemPrice)) {  // NaN 값이 들어가는 것을 방지
                    totalPrice += itemPrice;
                }
            })

            if(totalPrice > 50000) document.getElementById('delivery_fee').textContent = '0 원';
            else document.getElementById('delivery_fee').textContent = '2,500 원';

            let delivery_feeTem = document.getElementById('delivery_fee').textContent;
            let delivery_fee = parseInt(delivery_feeTem.replace(/,/g, '').replace(' 원', ''));

            let finalPrice = totalPrice + delivery_fee;
            document.getElementById('finalPrice').textContent = finalPrice.toLocaleString() + ' 원';

            document.getElementById('totalPrice').textContent = totalPrice.toLocaleString() + ' 원';
        }

        function allCartItemOrder(){
            // 'cart-item-checkbox' 클래스를 가진 모든 체크박스 선택
            const checkboxes = document.querySelectorAll('.cart-item-checkbox');

            // 모든 체크박스를 순회하며 checked를 true로 설정
            checkboxes.forEach((checkbox) => {
                checkbox.checked = true;
            });

            const checkedItems = [];

            document.querySelectorAll('.cart-item-checkbox:checked').forEach((checkbox) => {
                const productId = checkbox.getAttribute('productId');
                const design = checkbox.getAttribute('design');
                const amount = checkbox.getAttribute('amount');
                const price = checkbox.getAttribute('price');
                const img = checkbox.getAttribute('img');

                // 선택된 상품 데이터를 객체에 저장
                checkedItems.push({
                    productId : productId,
                    design : design,
                    amount : amount,
                    price : price,
                    img : img
                });

                if (checkedItems.length === 0) {
                    alert('선택된 상품이 없습니다.');
                    return;
                }

                let queryParams = checkedItems.map(item =>
                    `productId=${encodeURIComponent(item.productId)}&` +
                    `design=${encodeURIComponent(item.design)}&` +
                    `amount=${encodeURIComponent(item.amount)}&` +
                    `price=${encodeURIComponent(item.price)}&` +
                    `img=${encodeURIComponent(item.img)}`
                ).join('&');

                // get형식으로 데이터를 url에 달아서 보낸다.
                window.location.href = `/product/orderPage?${queryParams}`;
            });
        }



    </script>
</body>
</html>