<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/order.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/nav.css">
    <title>order</title>
</head>
<body>
    <div th:replace="include/nav :: navbar"></div>

    <div class="container">
        <h3>주문 정보</h3>
        <form>
            <div class="form-group">
                <label for="name">주문자 *</label>
                <input type="text" id="name" name="name" required>
            </div>

            <div class="form-group">
                <label for="email1">이메일 *</label>
                <div class="email-input">
                    <input type="text" id="email1" name="email1" required value="0109963">
                    <span>@</span>
                    <select name="email-domain" id="email2" onchange="checkCustomEmail()">
                        <option value="" disabled >이메일주소를 선택해주세요</option>
                        <option value="naver.com" selected>naver.com</option>
                        <option value="gmail.com">gmail.com</option>
                        <option value="daum.net">daum.net</option>
                        <option value="custom">직접입력</option>
                    </select>
                    <input type="text" class="text mg-t10" id="customEmail" style="display:none;" placeholder="이메일 도매인 입력하세요">
                </div>
            </div>

            <div class="form-group">
                <label for="phone-code">휴대전화 *</label>
                <div class="phone-input">
                    <select id="phone-code">
                        <option value="010">010</option>
                        <option value="011">011</option>
                        <option value="016">016</option>
                        <option value="011">017</option>
                        <option value="016">018</option>
                        <option value="011">019</option>
                    </select>
                    <input type="text" id="phone1" name="phone1" maxlength="4" value="9963" required>
                    <input type="text" id="phone2" name="phone2" maxlength="4" value="9180" required>
                </div>
            </div>
        </form>
    </div>

    <div class="container">
        <h3>배송지</h3>

        <div class="form-group">
            <label for="recipient">받는사람 *</label>
            <input type="text" id="recipient" required>
        </div>

        <div class="form-group">
            <label for="sample6_postcode">주소 *</label>
            <div class="address-input1">
                <input type="text" id="sample6_postcode" name="address1" placeholder="우편번호" required>
                <button type="button" onclick="sample6_execDaumPostcode()">우편번호찾기</button>
            </div>
            <div class="address-input2">
                <input type="text" id="sample6_address" name="address2" class="input-width-big" placeholder="주소" required>
                <input type="text" id="sample6_detailAddress" name="address3" placeholder="상세주소">
                <input type="text" id="sample6_extraAddress" name="address4" placeholder="참고항목">
            </div>
        </div>

        <div class="form-group">
            <label for="message">-- 메시지 선택 (선택사항) --</label>
            <select id="message" onchange="checkCustomMsg()">
                <option value="">선택하세요</option>
                <option value="배송 전에 미리 연락 부탁드립니다.">배송 전에 미리 연락 부탁드립니다.</option>
                <option value="부재 시 경비실에 맡겨주세요.">부재 시 경비실에 맡겨주세요.</option>
                <option value="부재 시 문 앞에 놓아주세요.">부재 시 문 앞에 놓아주세요.</option>
                <option value="빠른 배송 부탁드립니다.">빠른 배송 부탁드립니다.</option>
                <option value="택배함에 보관해 주세요.">택배함에 보관해 주세요.</option>
                <option value="custom">직접 입력</option>
            </select>
            <input type="text" class="text mg-t10" id="customMsg" style="display:none;" placeholder="메세지를 입력해주세요.">
        </div>
    </div>

    <div class="container">
        <div class="order-summary">
            <h3 class="section-title">주문상품</h3>
            <div class="order-info" th:each="item, iterStat : ${item}">
                <img th:src="@{/img/product_img/{img1}(img1=${item.img})}" alt="상품 이미지">
                <div class="order-item">
                    <p>상품명 : <span th:text="${item.productName}">구매하는 상품의 이름</span></p>
                    <p>디자인 : <span th:text="${item.design}">구매하는 상품의 디자인</span></p>
                    <p>수량 : <span th:text="${item.amount}">구매하는 상품의 수량</span></p>
                </div>
                <input type="button" th:level="${level}"
                       th:subcategoryId="${item.subcategoryId}" th:maincategoryId="${item.subcategoryId}"
                       th:idTem="'itemPrice_' + ${iterStat.index}" th:productId="${item.productId}" th:design="${item.design}"
                       onclick="selectCouponForItem(this.getAttribute('subcategoryId'), this.getAttribute('maincategoryId'),
                       this.getAttribute('idTem'), this.getAttribute('productId'), this.getAttribute('design'))"
                       value="쿠폰적용">
                <div class="order-price" th:text="${item.price * item.amount}" th:id="'itemPrice_' + ${iterStat.index}">
                    구매하는 상품의 가격
                </div>
            </div>
            <div class="applied-amount">
                적용금액 <span id="couponDiscountPrice">-0</span>
            </div>
        </div>
    </div>

    <!-- 쿠폰목록 모달창 -->
    <div id="couponModal" class="modal_coupon">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <h5 id="modalContent">사용가능한 쿠폰</h5>
            <table>
                <thead>
                <tr>
                    <th>선택</th>
                    <th>쿠폰명</th>
                    <th>할인율</th>
                    <th>사용기간</th>
                </tr>
                </thead>
                <tbody id="couponTableBody"></tbody>
            </table>
            <button class="action-btn" onclick="couponCheck()">적용</button>
            <button class="action-btn" onclick="closeModal()">닫기</button>
        </div>
    </div>

    <div class="container">
        <h2 class="section-title-4">적립금</h2>
        <div class="form-group-4">
            <label for="reward-points">적립금</label>
            <input type="number" id="reward-points" placeholder="적립금 입력" oninput="discountPointCheck(); validateNumberInput(this);" style="flex: 2; margin-right: 10px;">
            <button type="button" onclick="allInPoint()">전액 사용</button>
        </div>
        <div class="info-text" th:text="${discount_point}">보유 잔액 0원</div>
        <div class="info-text">구매 시 구매가격의 1%가 적립되어집니다.</div>
    </div>


    <div class="container">
        <h2 class="section-title">결제정보</h2>

        <div class="payment-info">
            <div>
                <span>주문상품</span>
                <span class="amount" id="totalPrice">구매상품가격</span>
            </div>
            <div>
                <span>배송비</span>
                <span class="amount" id="delivery_fee">배송비가격</span>
            </div>

            <div>
                <span>할인</span>
                <span class="amount negative" id="finalDiscountPrice">-0원</span>
            </div>
        </div>

        <div class="pay-method">
            <button onclick="showPaymentForm('card')">카드 결제</button>
            <button onclick="showPaymentForm('trans')">실시간 계좌 이체</button>
            <button onclick="showPaymentForm('vbank')">가상 계좌</button>
            <button onclick="showPaymentForm('phone')">휴대폰 소액 결제</button>
        </div>
        <div id="card" class="payment-form">
            <h3>카드 결제</h3>
        </div>

        <div id="trans" class="payment-form" style="display: none;">
            <h3>실시간 계좌 이체 정보</h3>
            <label>예금주 명: <input type="text" name="bankOwnerName"></label>
        </div>

        <div id="vbank" class="payment-form" style="display: none;">
            <h3>무통장 입금</h3>
            <label>가상 계좌 번호: <input type="text" name="virtualAccount"></label><br>
        </div>

        <div id="phone" class="payment-form" style="display: none;">
            <h3>휴대폰 소액 결제 정보</h3>
        </div>

        <div class="final-price">
            최종 결제 금액 <span id="final_price">0원</span>
        </div>

        <input type="button" class="payment" onclick="payCheck()" value="결제하기">
    </div>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/kakaoAddressSearch.js"></script>
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script src="/js/payment.js"></script>
    <script>
        'use strict'

        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        const modal = document.getElementById("couponModal");
        const closeModalBtn = document.querySelector(".close-btn");

        let totalPrice = 0;
        const orderPriceField = document.querySelectorAll('.order-price');

        orderPriceField.forEach(field => {
            const index = field.id.split('_')[1];
            item_price_view(index);

        })

        function item_price_view(index){
            const itemPrice = parseInt(document.getElementById(`itemPrice_${index}`).textContent);

            if (!isNaN(itemPrice)) {
                totalPrice += itemPrice;
                document.getElementById('totalPrice').textContent = totalPrice.toLocaleString() + ' 원';
            }
            // 각 상품의 가격 포맷
            let itemPriceTem = parseInt(document.getElementById(`itemPrice_${index}`).textContent);
            document.getElementById(`itemPrice_${index}`).textContent = itemPriceTem.toLocaleString() + ' 원';

            // 배송비 결정 (50000미만 2500원, 이상 0원)
            if(totalPrice < 50000) document.getElementById('delivery_fee').textContent = '2,500 원'
            else document.getElementById('delivery_fee').textContent = '0 원'
        }

        // 이메일 도매인 직접 입력 선택 시
        function checkCustomEmail(){
            let email_custom = document.getElementById("email2").value;
            let customEmail = document.getElementById("customEmail");

            if(email_custom === "custom"){
                customEmail.style.display = "inline-block";
            }
            else {
                customEmail.style.display = "none";
            }
        }

        function checkCustomMsg(){
            let msg_custom = document.getElementById("message").value;
            let customMsg = document.getElementById("customMsg")

            if(msg_custom == "custom"){
                customMsg.style.display = "inline-block";
            }
            else {
                customMsg.style.display = "none";
            }
        }

        // 모달창
        function couponModal(couponList, id, productId, design) {
            document.getElementById('couponModal').style.display = 'flex';
            // 쿠폰 테이블 가져오기
            const tableBody = document.querySelector('#couponModal table tbody');

            // 기존 행 제거
            tableBody.innerHTML = '';

            // 쿠폰 데이터를 테이블에 추가
            couponList.forEach(coupon => {
                const row = `
                    <tr>
                        <td><input type="radio" name="couponSelect" value="${coupon.id}"></td>
                        <td>${coupon.coupon_name}</td>
                        <td>${coupon.coupon_rate}</td>
                        <td>${coupon.end_date}</td>
                    </tr>
                `;
                tableBody.insertAdjacentHTML('beforeend', row);
            });

            // 적용 버튼의 onclick 속성에 id 값을 동적으로 설정
            // '적용' 버튼을 동적으로 찾고, onclick 속성 설정
            const couponCheckBtn = document.querySelector('.action-btn');
            if (couponCheckBtn) {
                couponCheckBtn.setAttribute('onclick', `couponCheck(${id}, ${productId}, '${design}')`);
            }
            else{
                alert('radio버튼 오류');
            }
        }

        function closeModal() {
            document.getElementById('couponModal').style.display = 'none';
        }

        // 모달 닫기 함수 (닫기 버튼 클릭 시)
        closeModalBtn.addEventListener("click", () => {
            modal.style.display = "none";
        });

        // 모달 닫기 함수 (배경 클릭 시)
        window.addEventListener("click", (e) => {
            if (e.target === modal) {
                modal.style.display = "none";
            }
        });

        // 각 상품에 사용할 수 있는 쿠폰 가져오기
        function selectCouponForItem(subcategoryId, maincategoryId, idTem, productId, design){
            fetch('/product/selectCouponForItem', {
                method: 'POST',
                headers: {
                    [csrfHeader]: csrfToken,
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    subcategoryId : subcategoryId,
                    maincategoryId : maincategoryId,
                    id : idTem,
                    productId : productId,
                    design : design
                })
            })
            .then(response => {
                // console.log("Response status:", response.status);
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.success){
                    couponModal(data.couponList, data.id, data.productId, data.design);
                }
                else{
                    alert("쿠폰리스트불러오기 실패");
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert("쿠폰가져오는 중에 에러가 발생했습니다. 관리자야 일해라.");
            });
        }

        const couponData = []; // 쿠폰 결과를 담을 배열
        function couponCheck(id, productId, design){
            // 선택된 라디오 버튼 가져오기
            const selectedCoupon = document.querySelector('input[name="couponSelect"]:checked');
            let couponId = selectedCoupon ? selectedCoupon.value.trim() : "";

            couponData.push({productId, couponId, design});
            //console.log('잘만들어지고있나?' + JSON.stringify(couponData));

            // 할인결과를 위한 선언
            const availablePoints = [[${discount_point}]];
            let pointInput = document.getElementById("reward-points");
            let enteredPoints = parseInt(pointInput.value) || 0;

            let priceElement = document.getElementById(`itemPrice_${id}`);
            let price = priceElement ? parseInt(priceElement.textContent.replace(/[^0-9]/g, '')) : 0;

            if(couponId == "") alert('쿠폰을 선택해주세요.');
            else if(price == 0) alert('상품가격을 가져올 수 없습니다. 문의해주세요.');

            fetch('/product/couponSelect', {
                method: 'POST',
                headers: {
                    [csrfHeader]: csrfToken,
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    couponId: couponId,
                    price: price
                })
            })
            .then(response => {
                // console.log("Response status:", response.status);
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.success){
                    modal.style.display = "none";

                    let discountPrice = parseInt(data.discountedPrice);
                    let price = parseInt(data.price);
                    let finPrice = price - discountPrice;

                    document.getElementById(`itemPrice_${id}`).textContent = finPrice.toLocaleString() + ' 원';
                    document.getElementById(`itemPrice_${id}`).classList.add('discountPriceRed');

                    let finalDiscountPriceStr = document.getElementById('finalDiscountPrice').textContent;
                    let finalDiscountPrice = parseInt(finalDiscountPriceStr.replace(/[^0-9]/g, ''), 10);

                    if(enteredPoints === 0) {
                        if(finalDiscountPrice === 0){
                            document.getElementById('finalDiscountPrice').textContent = '- ' + discountPrice.toLocaleString() + ' 원';
                            document.getElementById('couponDiscountPrice').textContent = '- ' + discountPrice.toLocaleString() + ' 원';
                            finalPrice();
                        }
                        else{
                            let updateFinalDiscountPrice = finalDiscountPrice + discountPrice;
                            document.getElementById('finalDiscountPrice').textContent = '- ' + updateFinalDiscountPrice.toLocaleString() + ' 원';
                            document.getElementById('couponDiscountPrice').textContent = '- ' + updateFinalDiscountPrice.toLocaleString() + ' 원';
                            finalPrice();
                        }
                    }
                    else{
                        if(finalDiscountPrice === 0){
                            document.getElementById('finalDiscountPrice').textContent = '- ' + discountPrice.toLocaleString() + ' 원';
                            document.getElementById('couponDiscountPrice').textContent = '- ' + discountPrice.toLocaleString() + ' 원';
                            finalPrice();
                        }
                        else{
                            let updateFinalDiscountPrice = finalDiscountPrice + discountPrice;
                            document.getElementById('finalDiscountPrice').textContent = '- ' + updateFinalDiscountPrice.toLocaleString() + ' 원';
                            document.getElementById('couponDiscountPrice').textContent = '- ' + updateFinalDiscountPrice.toLocaleString() + ' 원';
                            finalPrice();
                        }
                    }
                }
                else{
                    alert("쿠폰적용실패");
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert("쿠폰적용중에 에러가 발생했습니다. 관리자야 일해라.");
            });
        }

        function finalPrice(){
            //최종가격
            let totalPriceStr = document.getElementById('totalPrice').textContent;
            let totalPrice = parseInt(totalPriceStr.replace(/[^0-9]/g, ''), 10);

            let delivery_feeStr = document.getElementById('delivery_fee').textContent;
            let delivery_fee =  parseInt(delivery_feeStr.replace(/[^0-9]/g, ''), 10);

            let discountPriceStr = document.getElementById('finalDiscountPrice').textContent;
            let discountPrice = parseInt(discountPriceStr.replace(/[^0-9]/g, ''), 10);

            document.getElementById('final_price').textContent = (totalPrice + delivery_fee - discountPrice).toLocaleString() + ' 원';
        }
        finalPrice();

        // 숫자만 입력되게 감시
        function validateNumberInput(input){
            input.value = input.value.replace(/[^0-9]/g, '');
        }

        function discountPointCheck(){
            const availablePoints = [[${discount_point}]];
            let pointInput = document.getElementById("reward-points");
            let enteredPoints = parseInt(pointInput.value) || 0;

            let couponDiscountPriceStr = document.getElementById('couponDiscountPrice').textContent;
            let couponDiscountPrice = parseInt(couponDiscountPriceStr.replace(/[^0-9]/g, ''), 10);

            // 사용자가 입력한 값이 현재 포인트보다 클 경우 경고 메시지와 입력값 초기화
            if (enteredPoints > availablePoints) {
                alert("입력한 포인트가 보유한 포인트보다 큽니다. 다시 입력해주세요.");
                pointInput.value = '';  // 입력값 초기화

                // 할인값 초기화
                if(couponDiscountPrice === 0) {
                    document.getElementById('finalDiscountPrice').textContent = '- 0원';
                    finalPrice();
                }
                else {
                    document.getElementById('finalDiscountPrice').textContent = couponDiscountPrice.toLocaleString() + ' 원';
                    finalPrice();
                }
            }
            else {
                if(couponDiscountPrice === 0) {
                    document.getElementById('finalDiscountPrice').textContent = '- ' + enteredPoints.toLocaleString() + ' 원';;
                    finalPrice();
                }
                else {
                    document.getElementById('finalDiscountPrice').textContent = '- ' + (couponDiscountPrice + enteredPoints).toLocaleString() + ' 원';;;
                    finalPrice();
                }
            }

        }

        function allInPoint(){
            const availablePoints = [[${discount_point}]];
            document.getElementById("reward-points").value = availablePoints;

            let couponDiscountPrice = parseInt(document.getElementById('couponDiscountPrice').textContent) || 0;

            document.getElementById('finalDiscountPrice').textContent = '- ' + (couponDiscountPrice - availablePoints).toLocaleString() + ' 원';
            finalPrice();
        }

        function showPaymentForm(method) {
            // 모든 결제 양식 숨기기
            const paymentForms = document.querySelectorAll('.payment-form');
            paymentForms.forEach(form => {
                form.style.display = 'none';
            });

            // 선택한 결제 방식 양식만 보이기
            const selectedForm = document.getElementById(method);
            if (selectedForm) {
                selectedForm.style.display = 'block';
            }
        }

        function payCheck(){
            let email1 = document.getElementById('email1').value.trim();
            let email2 = document.getElementById('email2').value.trim();
            let email = email1 + '@' + email2;
            let phone_code = document.getElementById('phone-code').value.trim();
            let phone1 = document.getElementById('phone1').value.trim();
            let phone2 = document.getElementById('phone2').value.trim();
            let phone = phone_code + '-' + phone1 + '-' + phone2;
            let name = document.getElementById('name').value.trim();
            let sample6_address = document.getElementById('sample6_address').value.trim();
            let sample6_detailAddress = document.getElementById('sample6_detailAddress').value.trim();
            let sample6_extraAddress = document.getElementById('sample6_extraAddress').value.trim();

            let address;
            if(sample6_detailAddress == "") address = sample6_address + ' ' + sample6_extraAddress;
            else if(sample6_extraAddress == "") address = sample6_address + ' ' + sample6_detailAddress;
            else address = sample6_address + ' ' + sample6_detailAddress + ' ' + sample6_extraAddress;

            let postcode = document.getElementById('sample6_postcode').value.trim();

            let priceInWon = document.getElementById('final_price').textContent;
            let finalPrice = parseInt(priceInWon.replace(/[^0-9]/g, ''));

            const url = new URL(window.location.href); // 현재 페이지의 URL 가져오기
            let productId = url.searchParams.getAll('productId'); // 'productId'에 해당하는 모든 값 가져오기
            let amount = url.searchParams.getAll('amount');
            let design = url.searchParams.getAll('design');

            if(email1 == "" || email2 == ""){
                alert('이메일을 입력해주세요');
                return;
            }
            else if(phone1 == "" || phone1 == ""){
                alert('휴대폰을 입력해주세요.');
                return;
            }
            //else if(sample6_address == "" || postcode == ""){
            //    alert('주소를 적어주세요.');
            //    return;
            //}

            let item = {
                email : email,
                phone : phone,
                name : name,
                address : address,
                postcode : postcode,
                finalPrice : finalPrice,
                amount : amount,
                productId : productId,
                couponData : couponData,
                design : design
            };

            fetch("/product/payment", {
                method: "POST",
                headers: {
                    [csrfHeader]: csrfToken,
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(item)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.success) {
                    return payment(data.paymentInfo) // 결제 처리 완료를 기다림
                    console.log(data.paymentInfo);
                }
                else {
                    alert("결제 실패");
                }
            })
        }
    </script>
</body>
</html>