<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/pagination.css">
    <link rel="stylesheet" href="/css/productPageMainSub.css">
    <title>allProduct</title>
</head>
<body>
<div th:replace="include/nav :: navbar"></div>

<main class="product-container">
    <div class="filter-section">
        <p class="filter-title" th:text="${sub_title}">서브카테고리이름</p>
        <div class="filter-tags">
            <div class="tags" th:each="sub_list : ${sub_list}">
                <a th:href="@{/product/{title}/{id}(title=${title}, id=${sub_list.id})}" th:text="${sub_list.title}">소분류이름들</a>
            </div>
        </div>
    </div>

    <div class="product-grid">
        <div class="product-card" th:each="product_list : ${product_list}">
            <a th:href="@{/product/{product_name}/{id}/{productId}(product_name=${product_list.product_name}, id=${product_list.sub_category_id}, productId=${product_list.id})}">
                <div th:each="product_img_list : ${product_img_list}"
                     th:if="${product_list.product_img_id == product_img_list.id}">
                    <img th:src="@{/img/product_img/{img1}(img1=${product_img_list.img1})}" alt="상품 이미지">
                </div>
                [<span th:text="${product_list.brand}">브랜드이름</span>]<h3 th:text="${product_list.product_name}">상품이름</h3>
            </a>
            <span th:text="${product_list.getFormattedPrice}">가격</span>
        </div>
    </div>

    <div class="pagination">
        <ul>
            <li th:if="${pageVo.pageNum > 1}">
                <a th:href="@{/product/{title}/{id}(title = ${title}, id = ${subCategoryId}, pageNum = ${pageVo.pageNum - 1}, onePageCount = ${pageVo.onePageCount})}"> < </a>
            </li>

            <li th:each="pageBtn : ${#numbers.sequence(pageVo.curBlock, pageVo.blockSize)}">
                <a th:class="${pageVo.pageNum == pageBtn ? 'active' : ''}"
                   th:text="${pageBtn}"
                   th:href="@{/product/{title}/{id}(title = ${title}, id = ${subCategoryId}, pageNum = ${pageBtn}, onePageCount = ${pageVo.onePageCount})}">
                </a>
            </li>

            <li th:if="${pageVo.pageNum >= 1 && pageVo.totalPageCount > pageVo.pageNum}">
                <a th:href="@{/product/{title}/{id}(title = ${title}, id = ${subCategoryId}, pageNum = ${pageVo.pageNum + 1}, onePageCount = ${pageVo.onePageCount})}"> > </a>
            </li>
        </ul>
    </div>

    <div class="total-products">
        <span th:text="${totalCount}">총 639개의 상품이 있습니다.</span>
    </div>
</main>
</body>
</html>