<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="/css/modal.css">
    <title>카테고리 수정/삭제</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .category-management {
            max-width: 800px;
            margin: 0 auto;
        }

        .category-selector {
            margin-bottom: 20px;
        }

        select {
            padding: 5px;
            margin-right: 10px;
        }

        button {
            padding: 5px 10px;
            cursor: pointer;
        }

        .sub-categories {
            border-top: 1px solid #ccc;
            margin-top: 20px;
        }

        .accordion {
            margin-top: 10px;
        }

        .accordion-item {
            border-bottom: 1px solid #ccc;
            padding: 10px 0;
            display: flex;
            align-items: center; /* 버튼과 제목을 수직으로 정렬 */
            justify-content: space-between; /* 제목과 버튼 사이의 간격 조절 */
        }

        .accordion-title {
            margin-right: 10px;
        }

        .accordion-content {
            margin-top: 10px;
            flex: 1;
            white-space: nowrap;
            display: flex;
            justify-content: flex-end;
        }

        .accordion-title.active + .accordion-content {
            display: block;
        }

        button.edit {
            background-color: #4CAF50;
            color: white;
            margin-left: 10px;
        }

        button.delete {
            background-color: #f44336;
            color: white;
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <div class="category-management">
        <h1>카테고리 관리</h1>
        <div class="category-selector">
            <label for="main-category">대분류 선택:</label>
            <select id="main-category">
                <option value=""></option>
                <option th:each="mainCategory : ${mainCategory}" th:value="${mainCategory.id}" th:text="${mainCategory.title}"></option>
            </select>
            <button type="button" id="edit_maincategory" onclick="oprnMainUpdate()">대분류 수정</button>
            <button type="button" class="open-modal-btn" onclick="openModal()">대분류 삭제</button>
        </div>
        <div id="maincategory_update"></div>

        <!-- 대분류 삭제 모달 -->
        <div id="customModal" class="modal">
            <div class="modal-content">
                <span class="close-btn">&times;</span>
                <form id="modalDelCheck" method="post" th:action="@{/admin/modalDelKeyCheck}">
                    <h2 id="modalContent">[모달 제목]</h2>
                    <input type="text" placeholder="삭제" id="delKey" name="delKey"/>
                    <input type="hidden" id="hiddenMaincategory" name="hiddenMaincategory" />
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <button type="button" class="action-btn" onclick="delKeyCheck()">확인</button>
                </form>
            </div>
        </div>

        <div class="sub-categories" id="sub-categories">
            <h2>소분류 관리</h2>
            <div class="accordion" id="accordion">
                <div class="accordion-item" th:each="subCategory : ${subCategory}" th:attr="data-category=${subCategory.main_category_id}">
                    <h3 class="accordion-title" id="sub_title" th:text="${subCategory.title}"></h3>
                    <div class="accordion-content">
                        <button type="button" class="edit" th:sub_title="${subCategory.title}" th:sub_id="${subCategory.id}" onclick="update_sub(this.getAttribute('sub_title'), this.getAttribute('sub_id'))">수정</button>
                        <button type="button" class="delete" th:sub_title="${subCategory.title}" onclick="subcategoryDelete(this.getAttribute('sub_title'))">삭제</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="subcategory_update"></div>

        <!--  소분류 삭제 모달  -->
        <div id="customModal_sub" class="modal_sub">
            <div class="modal-content">
                <span class="close-btn">&times;</span>
                <form id="modalDelCheck_sub" method="post" th:action="@{/admin/modalDelKeyCheck_sub}">
                    <h2 id="modalContent_sub">[모달 제목]</h2>
                    <input type="text" placeholder="삭제" id="delKey_sub" name="delKey_sub"/>
                    <input type="hidden" id="hiddenSubcategory" name="hiddenSubcategory" />
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <button type="button" class="action-btn" onclick="sub_delKeyCheck()">확인</button>
                </form>
            </div>
        </div>

        <!--  소분류 수정 모달  -->
        <div id="customModal_subUp" class="modal_subUp">
            <div class="modal-content">
                <span class="close-btn">&times;</span>
                <form id="modalUpCheck_subUp" method="post" th:action="@{/admin/subcategoryUpdate}">
                    <h2 id="modalContent_subUp">[모달 제목]</h2>
                    <input type="text" name="sub_update_title" id="sub_update_title">
                    <input type="hidden" id="before_title" name="before_title" />
                    <input type="hidden" id="title_id" name="title_id" />
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <button type="button" class="action-btn" onclick="subcategoryUpdate()">확인</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        'use strict';
        document.addEventListener('DOMContentLoaded', function() {
            // 드롭다운 및 아코디언 관련 요소 선택
            const mainCategorySelect = document.getElementById('main-category');
            const accordionItems = document.querySelectorAll('.accordion-item');
            const editMainCategoryButton = document.getElementById('edit_maincategory');
            const deleteMainCategoryButton = document.getElementById('delete_maincategory');

            // 페이지 로드 시 모든 소분류 항목 숨기기
            accordionItems.forEach(item => {
                item.style.display = 'none';
            });

            mainCategorySelect.addEventListener('change', function() {
                const selectedValue = mainCategorySelect.value;

                accordionItems.forEach(item => {
                    item.style.display = item.dataset.category === selectedValue ? 'block' : 'none';
                });
            });
        });
    </script>

    <script th:inline="javascript">
        'use strict'

        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');


        // 모달 관련 요소 선택
        const modal = document.getElementById("customModal");
        const modal_sub = document.getElementById("customModal_sub");
        const modal_subUp = document.getElementById("customModal_subUp");
        const closeModalBtn = document.querySelectorAll(".close-btn");

        // 모달 닫기 함수 (닫기 버튼 클릭 시)
        closeModalBtn.forEach(button => {
            button.addEventListener("click", () => {
                modal.style.display = "none";
                modal_sub.style.display = "none";
                modal_subUp.style.display = "none";
            });
        });

        // 모달 닫기 함수 (배경 클릭 시)
        window.addEventListener("click", (e) => {
            if (e.target === modal || e.target === modal_sub || e.target === modal_subUp) {
                modal.style.display = "none";
                modal_sub.style.display = "none";
                modal_subUp.style.display = "none";
            }
        });

        function delKeyCheck() {
            let delKey = document.getElementById("delKey").value.trim();

            if(delKey == "" || delKey !== "삭제") {
                alert("키워드가 잘못되었습니다. 다시 확인해주세요.");
                return
            }
            else modalDelCheck.submit();
        }

        function openModal() {
            const selectElement = document.getElementById('main-category');
            const selectedOption = selectElement.options[selectElement.selectedIndex]; // 선택된 옵션
            const selectedText = selectedOption.text; // 선택된 옵션의 텍스트

            if(selectedText == "") {
                alert("삭제하고자하는 대분류를 선택해주세요.");
                return
            }
            document.getElementById("modalContent").innerHTML = "삭제하고자하는 대분류가 [<span style='color: red; font-weight: bold;'>" + selectedText + "</span> ]이라면 아래에 [삭제]라고 입력해주십시오.";
            document.getElementById("hiddenMaincategory").value = selectedText;
            // 모달 열기
            modal.style.display = "flex";
        }

        function oprnMainUpdate() {
            const selectElement = document.getElementById('main-category');
            const selectedOption = selectElement.options[selectElement.selectedIndex]; // 선택된 옵션
            const selectedText = selectedOption.text; // 선택된 옵션의 텍스트

            if(selectedText == "") {
                alert("수정하고자하는 대분류를 선택해주세요.");
                return
            }

            let maincategoryUpdateInput = '<div id="mainUpdateFormContainer">';  // ID를 고유하게 변경
            maincategoryUpdateInput += '<form id="maincategoryUpdateForm">';
            maincategoryUpdateInput += '<h3>대분류 수정</h3>';
            maincategoryUpdateInput += '<p>[현재 선택한 대분류 이름]: <span style="color: red; font-weight: bold;">' + selectedText + '</span></p>'; // 선택한 텍스트 반영
            maincategoryUpdateInput += '<input type="text" id="mainUpdate" name="mainUpdate">';
            maincategoryUpdateInput += '<input type="hidden" id="hiddenMaincategory" name="hiddenMaincategory" value="' + selectedOption.value + '"/>'; // 숨겨진 필드에 대분류 ID 추가

            maincategoryUpdateInput += '<button type="button" class="action-btn" onclick="mainUpdateClose()">닫기</button>';
            maincategoryUpdateInput += '<button type="button" class="action-btn" onclick="maincategoryUpdate()">확인</button>';
            maincategoryUpdateInput += '</form></div>';

            maincategory_update.innerHTML = maincategoryUpdateInput;
            slideDown(maincategory_update, 500);
        }

        function slideDown(element, duration) {
            element.style.display = 'block';        // 요소를 보이게 함
            element.style.height = '0';             // 높이를 0으로 시작
            element.style.overflow = 'hidden';      // 높이 변경 시 overflow 방지
            element.style.transition = `height ${duration}ms ease`; // 애니메이션 설정

            // 요소의 전체 높이를 가져옴 (이전 상태 복원을 위해)
            let fullHeight = element.scrollHeight;

            // 짧은 지연 후에 (0ms), 요소의 높이를 원래 높이로 설정 (애니메이션 시작)
            setTimeout(function() {
                element.style.height = fullHeight + 'px'; // 요소의 전체 높이로 설정
            }, 0);

            // 애니메이션이 끝난 후에 height 스타일을 제거하여 레이아웃을 유지
            setTimeout(function() {
                element.style.height = ''; // 애니메이션 후 높이 자동 조정
            }, duration);
        }

        function maincategoryUpdate() {
            let mainUpdate = document.getElementById("mainUpdate").value;
            let hiddenMaincategory = document.getElementById("hiddenMaincategory").value;


            if(mainUpdate == "" || hiddenMaincategory == "") {
                alert("수정하고자하는 이름을 적어주세요.");
                return
            }
            else {
                fetch("/admin/maincategoryUpdate", {
                    method: "POST",
                    headers: {
                        [csrfHeader]: csrfToken,
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ mainUpdate: mainUpdate, hiddenMaincategory: hiddenMaincategory })
                })
                .then(response => {
                    // console.log("Response status:", response.status);
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.success){
                        // console.log("Response data:", data);
                        alert("수정되었습니다.");
                        location.reload();
                    }
                    else alert("이미 이름이 있습니다.");
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        }

        function subcategoryDelete(sub_title) {
            document.getElementById("modalContent_sub").innerHTML = "삭제하고자하는 소분류가 [<span style='color: red; font-weight: bold;'>" + sub_title + "</span>]이라면 아래에 [삭제]라고 입력해주십시오.";
            document.getElementById("hiddenSubcategory").value = sub_title;
            // 모달 열기
            modal_sub.style.display = "flex";
        }

        function sub_delKeyCheck() {
            let delKey_sub = document.getElementById("delKey_sub").value.trim();

            if(delKey_sub == "" || delKey_sub !== "삭제") {
                alert("키워드가 잘못되었습니다. 다시 확인해주세요.");
                return
            }
            else modalDelCheck_sub.submit();
        }

        function update_sub(title, id) {
            document.getElementById("modalContent_subUp").innerHTML = "수정하고자하는 소분류는 [<span style='color: red; font-weight: bold;'>" + title + "</span>]입니다.";
            document.getElementById("before_title").value = title;
            document.getElementById("title_id").value = id;
            modal_subUp.style.display = "flex";
        }

        function subcategoryUpdate() {
            let sub_update_title = document.getElementById("sub_update_title").value;
            if(sub_update_title == "") {
                alert("수정하고자하는 이름을 적어주세요.");
                return
            }
            else modalUpCheck_subUp.submit();
        }

        function mainUpdateClose() {
            mainUpdateFormContainer.style.display = "none";
        }

    </script>
</body>
</html>