<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>noticeWrite</title>
    <style>
        textarea {
            width: 100%;
            height: 6.25em;
            border: none;
            resize: none;
        }

    </style>
</head>
<body>
    <h2>noticeWrite</h2>
    <form id="noticeWriteForm" method="post" th:action="@{/admin/noticeWritePost}">
        <input type="text" placeholder="제목을 입력해주세요." id="title" name="title">
        <textarea placeholder="클릭해주십시오. 500자 이내로 입력해야합니다." id="noticeWriteText" name="noticeWriteText"></textarea>
        <button class="writeBtn" onclick="noticeWrite()" type="button">작성하기</button>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>

    <script>
        'use strict';

        function noticeWrite(){
            let noticeWriteForm = document.getElementById('noticeWriteForm');
            let title = document.getElementById('title').value;
            let content = document.getElementById('content').value;

            if(title == "" || content == "") {
                alert('빈칸을 전부 채워주세요.');
                return;
            }
            else if(title.length() > 30){
                alert('제목은 최대 30자까지 가능합니다.(빈칸포함)');
                return;
            }
            else if(content.length() > 500){
                alert('본 내용은 최대 500자까지 가능합니다.(빈칸포함)');
                return;
            }
            else noticeWriteForm.submit();
        }
    </script>
</body>
</html>