<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="/css/pagination.css">
    <link rel="stylesheet" href="/css/noticeM.css">
    <title>NOTICE</title>
</head>
<body>
    <div class="flex">
        <h2>NOTICE</h2>
        <button onclick="location.href='/admin/noticeWrite';" class="writeBtn">작성하기</button>
    </div>
    <table>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회</th>
            <th>비고</th>
        </tr>
        <tr th:each="noticeList, noticeListStat : ${noticeList}">
            <td th:text="${noticeListStat.count}">번호</td>
            <td>
                <a th:text="${noticeList.title}" th:href="@{/community/noticeDetail/{noticeId}(noticeId = ${noticeList.id})}"></a>
            </td>
            <td th:text="${noticeList.mid}">작성자아이디</td>
            <td th:text="${noticeList.wDate}">작성일</td>
            <td th:text="${noticeList.count}">조회수</td>
            <td>
                <button class="deleteBtn" th:onclick="'deleteNotice('+${noticeList.id}+')'">삭제하기</button>
            </td>
        </tr>
    </table>

    <div class="pagination">
        <ul>
            <li th:if="${pageVo.pageNum > 1}">
                <a th:href="@{/admin/noticeM(pageNum = ${pageVo.pageNum - 1}, onePageCount = ${pageVo.onePageCount})}"> < </a>
            </li>

            <li th:each="pageBtn : ${#numbers.sequence(pageVo.curBlock, pageVo.blockSize)}">
                <a th:class="${pageVo.pageNum == pageBtn ? 'active' : ''}"
                   th:text="${pageBtn}"
                   th:href="@{/admin/noticeM(pageNum = ${pageBtn}, onePageCount = ${pageVo.onePageCount})}">
                </a>
            </li>

            <li th:if="${pageVo.pageNum >= 1 && pageVo.totalPageCount > pageVo.pageNum}">
                <a th:href="@{/admin/noticeM(pageNum = ${pageVo.pageNum + 1}, onePageCount = ${pageVo.onePageCount})}"> > </a>
            </li>
        </ul>
    </div>

    <script src="/js/noticeM.js"></script>
</body>
</html>