# Gradle 관련
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE 관련
.idea/
*.iml
out/

# 운영체제 생성 파일
.DS_Store
Thumbs.db

# 로그 파일
*.log

# 환경 설정 파일
*.properties
*.yml
*.yaml

# 기타
*.class
*.jar
*.war

# img 폴더 전체 제외
img/