<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/noticeM.css">
    <link rel="stylesheet" href="../css/pagination.css">
    <title>NOTICE</title>
</head>
<body>
    <div th:replace="include/nav :: navbar"></div>
    <h2>NOTICE</h2>
    <table>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회</th>
        </tr>
        <tr th:each="noticeList, noticeListStat : ${noticeList}">
            <td th:text="${noticeListStat.count}">번호</td>
            <td>
                <a th:text="${noticeList.title}" th:href="@{/community/noticeDetail/{noticeId}(noticeId = ${noticeList.id})}">제목</a>
            </td>
            <td th:text="${noticeList.mid}">작성자아이디</td>
            <td th:text="${noticeList.wDate}">작성일</td>
            <td th:text="${noticeList.count}">조회수</td>
        </tr>
    </table>

    <div class="pagination">
        <ul>
            <li th:if="${pageVo.pageNum > 1}">
                <a th:href="@{/community/notice(pageNum = ${pageVo.pageNum - 1}, onePageCount = ${pageVo.onePageCount})}"> < </a>
            </li>

            <li th:each="pageBtn : ${#numbers.sequence(pageVo.curBlock, pageVo.blockSize)}">
                <a th:class="${pageVo.pageNum == pageBtn ? 'active' : ''}"
                   th:text="${pageBtn}"
                   th:href="@{/community/notice(pageNum = ${pageBtn}, onePageCount = ${pageVo.onePageCount})}">
                </a>
            </li>

            <li th:if="${pageVo.pageNum >= 1 && pageVo.totalPageCount > pageVo.pageNum}">
                <a th:href="@{/community/notice(pageNum = ${pageVo.pageNum + 1}, onePageCount = ${pageVo.onePageCount})}"> > </a>
            </li>
        </ul>
    </div>
</body>
</html>