<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.goodsShop.dao.ProductDao">
    <!--  select  -->
    <select id="getProduct" resultType="com.spring.goodsShop.vo.ProductVo">
        select * from product order by Rdate desc;
    </select>

    <select id="getProductImg" resultType="com.spring.goodsShop.vo.Product_imgVo">
        select * from product_img;
    </select>

    <select id="getMainCategoryIdByTitle" resultType="java.lang.Integer">
        select id from main_category where title = #{title};
    </select>

    <select id="getProductBySubcategoyId" resultType="com.spring.goodsShop.vo.ProductVo">
        select * from product where sub_category_id = #{id} order by Rdate desc;
    </select>

    <select id="getSubcategoryTitle" resultType="java.lang.String">
        select title from sub_category where id = #{id};
    </select>

    <select id="getProductImgIdByProductName" resultType="java.lang.Integer">
        select product_img_id from product where product_name = #{productName};
    </select>

    <select id="getProductImgByProductImgId" resultType="com.spring.goodsShop.vo.Product_imgVo">
        select * from product_img where id = #{productImgId};
    </select>

    <select id="getproductDesignByProductId" resultType="java.lang.String">
        select design from product where id = #{productId};
    </select>

    <select id="getProductByProductId" resultType="com.spring.goodsShop.vo.ProductVo">
        select * from product where id = #{productId};
    </select>

    <select id="getProductOneByProductId" resultType="com.spring.goodsShop.vo.ProductVo">
        select product_name, brand, product_img_id from product where id = #{productId};
    </select>

    <!--  insert  -->
    <!--  update  -->
    <!--  delete  -->
</mapper>