<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.goodsShop.dao.ProductDao">
    <!--  select  -->
    <select id="getProduct" resultType="com.spring.goodsShop.vo.ProductVo">
        select * from product order by Rdate desc;
    </select>

    <select id="getProductImg" resultType="com.spring.goodsShop.vo.Product_imgVo">
        select * from product_img;
    </select>

    <select id="getMainCategoryIdByTitle" resultType="java.lang.Integer">
        select id from main_category where title = #{title};
    </select>

    <select id="getProductBySubcategoyId" resultType="com.spring.goodsShop.vo.ProductVo">
        select * from product where sub_category_id = #{id} order by Rdate desc;
    </select>

    <select id="getSubcategoryTitle" resultType="java.lang.String">
        select title from sub_category where id = #{id};
    </select>

    <select id="getProductImgIdByProductName" resultType="java.lang.Integer">
        select product_img_id from product where product_name = #{productName};
    </select>

    <select id="getProductImgByProductImgId" resultType="com.spring.goodsShop.vo.Product_imgVo">
        select * from product_img where id = #{productImgId};
    </select>

    <select id="getproductDesignByProductId" resultType="java.lang.String">
        select design from product where id = #{productId};
    </select>

    <select id="getProductByProductId" resultType="com.spring.goodsShop.vo.ProductVo">
        select * from product where id = #{productId};
    </select>

    <select id="getProductOneByProductId" resultType="com.spring.goodsShop.vo.ProductVo">
        select * from product where id = #{productId};
    </select>

    <select id="getCouponAll" resultType="com.spring.goodsShop.vo.CouponVo">
        select * from coupon;
    </select>

    <select id="getMainCategoryIdBySubCategoryId" resultType="java.lang.Integer">
        select main_category_id from sub_category where id = #{productSubCategory};
    </select>

    <select id="getCouponCheck" resultType="java.lang.Integer">
        select count(*) from coupon where id = #{couponId};
    </select>

    <select id="getCouponRate" resultType="java.math.BigDecimal">
        select coupon_rate from coupon where id = #{couponId};
    </select>

    <select id="getMemberDiscountPointByMid" resultType="java.lang.Integer">
        select discount_point from member where mid = #{mid};
    </select>

    <select id="getProductImg1ByProductImgId" resultType="java.lang.String">
        select img1 from product_img where id = #{productImgId};
    </select>

    <select id="getProductVoOfNameAndBrandByProductId" resultType="com.spring.goodsShop.vo.ProductVo">
        SELECT id, product_name, brand, sub_category_id FROM product
        WHERE id IN
        <foreach item="id" collection="productId" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="getProductImgIdByProductId" resultType="java.lang.Integer">
        select product_img_id from product where id = #{productId};
    </select>

    <select id="getProductPriceByProductId"  resultType="java.lang.Integer">
        select price from product where id = #{productId};
    </select>

    <select id="getProductNameByProductId" resultType="java.lang.String">
        select product_name from product where id = #{productId};
    </select>

    <select id="getOrderMemberNameByMemberId" resultType="java.lang.String">
        select mid from member where id = #{memberId};
    </select>

    <!--  insert  -->
    <insert id="setOrderOne" useGeneratedKeys="true" keyProperty="id">
        insert into productOrder (id, member_id, product_id, design, amount, address, order_date, status, price, productName, orderStaus)
        values (default, #{order.member_id}, #{order.product_id}, #{order.design}, #{order.amount}, #{order.address}, default, #{order.status}, #{order.price}, #{order.productName}, default);
    </insert>

    <insert id="setPaymentOne">
        insert into payment values (default, #{payment.order_id}, #{payment.payMethod}, #{payment.payment_date}, #{payment.finalPrice});
    </insert>
    <!--  update  -->
    <!--  delete  -->
</mapper>