<div class="nav" th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar">
        <div class="navbar-top">
            <div class="navbar-logo">
                <a href="/">GOODSSHOP</a>
            </div>
            <!-- <div class="menu-icon">&#9776;</div> -->
            <div class="menu-icon"><i class="fas fa-bars"></i></div>
            <div class="navbar-auth" style="margin-right: 10px;">
                <div th:with="level=${session.sLevel}">
                    <div th:if="${level == null}">
                        <a href="/member/join" style="margin-right: 20px;">회원가입</a>
                        <a href="/member/login">로그인</a>
                    </div>
                    <div th:if="${level >= 1}">
                        <a href="/member/logout">로그아웃</a>
                    </div>
                </div>
                <div th:with="level=${session.sLevel}">
                    <div th:if="${level >= 1 and level < 3}">
                        <a href="member/memberP">나의 페이지</a>
                    </div>
                    <div th:if="${level == 99}">
                        <a href="/admin/adminP">관리자 페이지</a>
                    </div>
                </div>
                <div th:with="level=${session.sLevel}">
                    <div th:if="${level >= 1}">
                        <a href="#">찜한상품</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="search-bar">
            <input type="text" placeholder="검색어를 입력해주세요">
            <input type="submit" value="검색">
        </div>

        <div class="navbar-links">
            <ul>
                <li><a href="#">NEW</a></li>
                <li><a href="#">상품별</a></li>
                <li><a href="#">EVENT</a></li>
                <li><a href="#">BEST 100</a></li>
                <li><a href="#">COMMUNITY</a></li>
            </ul>
        </div>
    </nav>
</div>