<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="../fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/join.css" />
    <title>Join</title>
</head>
<body>
    <div th:replace="include/nav :: navbar"></div>

    <form id="joinForm" name="joinForm" method="post" th:action="@{/member/join}" style="padding: 20px;">
        <table>
            <tr>
                <td><h2>회원가입</h2></td>
            </tr>
            <tr><td>아이디</td></tr>
            <tr><td class="pst_rel"><span id="midMsg" class="red"></span><input type="text" class="text" id="mid" name="mid"></span><button type="button" class="btn pst_abs btn-sm" onclick="midCheck()">중복확인</button></td></tr>
            <tr><td>비밀번호</td></tr>
            <tr><td><span id="pwd1Msg" class="red"></span><input type="password" class="text" id="pwd1"></td></tr>
            <tr><td>비밀번호 확인</td></tr>
            <tr><td><span id="pwd2Msg" class="red"></span><input type="password" class="text" id="pwd2"></td></tr>
            <tr><td>이메일</td></tr>
            <tr>
                <td class="pst_rel"><input type="text" class="email" id="email1"> @
                    <select id="email2" onchange="checkCustomEmail()">
                        <option value="">선택</option>
                        <option value="naver.com">naver.com</option>
                        <option value="gmail.com">gmail.com</option>
                        <option value="hanmail.net">hanmail.net</option>
                        <option value="nate.com">nate.com</option>
                        <option value="custom">직접입력</option>
                    </select>
                    <input type="button" class="btn pst_abs_r_none" value="본인번호보내기" onclick="emailCheck()"/>
                    <div style="margin-top: 8px; display: none;" id="displaySw">
                        <input type="text" id="emailOk" name="emailOk" />
                        <input type="button" class="btn btn-sm" value="인증하기" onclick="emailOks()" />
                    </div>
                    <input type="text" class="text mg-t10" id="customEmail" style="display:none;" placeholder="이메일 도매인 입력하세요">
                </td>
            </tr>
            <input type="hidden" id="pwd" name="pwd" />
            <input type="hidden" id="email" name="email" />
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <tr><td><input type="button" value="가입하기" class="btn" onclick="submitCheck()"></td></tr>
        </table>
    </form>

    <script th:inline="javascript">
        'use strict';
        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        let mid = document.getElementById("mid");
        let pwd1 = document.getElementById("pwd1");
        let pwd2 = document.getElementById("pwd2");
        let pwd1Msg = document.getElementById("pwd1Msg");
        let pwd2Msg = document.getElementById("pwd2Msg");
        let midPattern = /^[a-zA-Z0-9_.]{1,14}$/;
        let pwdPattern = /^[a-z\d!@#$%^&*]{8,}$/;

        let midFlag = 0;
        let emailFlag = 0;

        // 아이디, 비밀번호 정규화
        mid.addEventListener('input', function(){
            if(!midPattern.test(mid.value)) midMsg.textContent = "아이디는 최대 14자 이하의, 소문자, 대문자, 숫자, 언더스코어 및 점만 사용할 수 있습니다.";
            else midMsg.textContent = "";
        });

        pwd1.addEventListener('input', function() {
            if(!pwdPattern.test(pwd1.value)) pwd1Msg.textContent = "비밀번호는 최소 8자 이상의 소문자와 숫자 그리고 특수문자들을 사용할 수 있습니다.";
            else pwd1Msg.textContent = "";
        });

        pwd2.addEventListener('input', function() {
            if (pwd2.value !== pwd1.value) pwd2Msg.textContent = "비밀번호가 일치하지 않습니다.";
            else pwd2Msg.textContent = "";
        });

        // 이메일 도매인 직접 입력 선택 시
        function checkCustomEmail(){
            let email_custom = document.getElementById("email2").value;
            let customEmail = document.getElementById("customEmail");

            if(email_custom === "custom"){
                customEmail.style.display = "inline-block";
            }
            else {
                customEmail.style.display = "none";
            }
        }

        // 아이디 중복 체크
        function midCheck(){
            let mid = document.getElementById("mid").value.trim();

            if(mid == "") {
                alert("아이디를 입력해주세요.");
                joinForm.mid.focus();
                return;
            }
            else if(!midPattern.test(mid)){
                alert("아이디 조건을 확인해주세요.");
                joinForm.mid.focus();
                return;
            }
            else {
                fetch("/member/midCheck", {
                    method: "POST",
                    headers: {
                        [csrfHeader]: csrfToken,
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ mid: mid })
                })
                .then(response => {
                    // console.log("Response status:", response.status);
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.available){
                        // console.log("Response data:", data);
                        joinForm.mid.readOnly = true;
                        midFlag = 1;
                        alert("사용 가능한 아이디입니다.");
                    }
                    else alert("이미 사용 중인 아이디입니다.");
                    joinForm.mid.focus();
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert("아이디 중복 확인 중 오류가 발생했습니다.");
                });
            }
        }

        // 이메일 체크 및 인증번호 보내기
        function emailCheck(){
            let email1 = document.getElementById("email1").value.trim();
            let email2 = document.getElementById("email2").value;

            if(email1 == "" || email2 == "") {
                alert("이메일을 입력해주세요");
                joinForm.email1.focus();
                return;
            }

            if(email2 == "custom"){
                let customEmail = document.getElementById("customEmail").value.trim();
                let email = email1 + "@" + customEmail;

                fetch("/member/emailCheck", {
                method: "POST",
                headers: {
                    [csrfHeader]: csrfToken,
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ email: email })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.available) {
                        alert("해당 이메일로 인증번호를 전송했습니다.");
                        let displaySw = document.getElementById("displaySw");
                        displaySw.style.display = "block";
                    }
                    else alert("이미 사용 중인 이메일입니다.");
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
            else{
                let email = email1 + "@" + email2;

                fetch("/member/emailCheck", {
                    method: "POST",
                    headers: {
                        [csrfHeader]: csrfToken,
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ email: email })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.available) {
                        alert("해당 이메일로 인증번호를 전송했습니다.");
                        let displaySw = document.getElementById("displaySw");
                        displaySw.style.display = "block";
                    }
                    else alert("이미 사용 중인 이메일입니다.");
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        }

        // 이메일로 보낸 인증번호 일치하는지 확인하기
        function emailOks() {
            let emailOk = document.getElementById("emailOk").value.trim();

            if(emailOk == "") {
                alert("인증번호를 입력해주세요.");
                return;
            }

            fetch("/member/emailOk", {
            method: "POST",
            headers: {
                [csrfHeader]: csrfToken,
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ emailOk: emailOk })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json(); // 서버가 텍스트를 반환하면
            })
            .then(data => {
                if (data.available){
                    alert("인증되었습니다.");
                    joinForm.email1.readOnly = true;
                    joinForm.email2.readOnly = true;
                    joinForm.emailOk.readOnly = true;
                    emailFlag = 1;
                }
                else alert("인증번호가 잘못 되었습니다.");
                // console.log(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        // 제출 전 최종 확인
        function submitCheck() {
            let mid = document.getElementById("mid").value.trim();
            let pwd1 = document.getElementById("pwd1").value.trim();
            let pwd2 = document.getElementById("pwd2").value.trim();
            let email1 = document.getElementById("email1").value.trim();
            let email2 = document.getElementById("email2").value.trim();

            if(midFlag === 0) {
                alert("아이디 중복체트 해주세요.");
                joinForm.mid.focus();
                return;
            }
            else if (emailFlag === 0) {
                alert("이메일 중복체크 해주세요.");
                joinForm.email1.focus();
                return;
            }
            else if (pwd1 == "" || pwd2 == "") {
                alert("비밀번호를 입력해주세요.");
                return;
            }
            else if (pwd1 !== pwd2) {
                alert("비밀번호를 다시 확인해주세요.");
                joinForm.pwd1.focus();
                return;
            }
            else {
                let pwd = document.getElementById("pwd2").value;
                let email = email1 + "@" + email2;
                joinForm.pwd.value = pwd;
                joinForm.email.value = email;

                joinForm.submit();
            }
        }
    </script>
</body>
</html>