<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="../fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/memberFind.css">
    <title>MemberFind</title>
</head>
<body>
    <div th:replace="include/nav :: navbar"></div>

    <div class="container">
        <div class="content">
            <h2>ID/Password Finder</h2>
            <div class="tab-buttons">
                <button id="findIdBtn" class="active">아이디 찾기</button>
                <button id="findPwdBtn">비밀번호 찾기</button>
            </div>

            <!-- 아이디 찾기 -->
            <div id="findIdForm" class="form-group active">
                <form name="formFindId">
                    <label for="email-mid">이메일</label>
                    <input type="email" id="email-mid" name="email" placeholder="이메일을 입력하세요" required>
                    <input type="button" onclick="findIdCheck()" value="아이디 찾기">
                </form>
            </div>

            <!-- 비밀번호 찾기 -->
            <div id="findPwdForm" class="form-group">
                <form name="formFindPwd">
                    <label for="mid">아이디</label>
                    <input type="text" id="mid" name="mid" placeholder="아이디를 입력하세요" required>
                    <label for="email-pwd">이메일</label>
                    <input type="email" id="email-pwd" name="email" placeholder="이메일을 입력하세요" required>
                    <input type="button" onclick="findPwdCheck()" value="비밀번호 찾기">
                </form>
            </div>
        </div>
    </div>

    <!-- 모달_아이디찾기 -->
    <div id="userInfoModal" style="display: none;">
        <h5>회원 정보</h5>
        <p id="userInfo">정보 내용</p>
        <button onclick="closeModal()">닫기</button>
    </div>

    <button id="showModal" style="display: none;" onclick="openModal()"></button>

    <script src="/js/memberFind.js"></script>
</body>
</html>