.cart-container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
}

.cart-title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.cart-item-container {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.cart-item-image {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.cart-item-details {
    flex: 2;
}

.cart-item-title {
    font-size: 1.2em;
}

.cart-item-price {
    font-size: 1.1em;
    color: #f00;
}

.cart-item-quantity {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quantity-controls {
    display: flex;
    gap: 5px;
    align-items: center;
}

.quantity-input {
    width: 40px;
    text-align: center;
}

.cart-item-total {
    flex: 1;
    text-align: right;
    font-size: 1.2em;
    font-weight: bold;
}

.cart-summary {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 20px;
}

.summary-item, .summary-total {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 1.1em;
}

.summary-total {
    font-weight: bold;
}

.cart-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.order-all, .order-selected {
    padding: 15px 20px;
    font-size: 1.1em;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.order-selected {
    background-color: #aaa;
}

.mb-5{
    margin-bottom: 5px;
}

.minus, .plus{
    padding-left: 5px;
    padding-right: 5px;
}

.cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.cart-item-checkbox {
    margin-right: 10px;
    transform: scale(1.5);
}

.cart-item-image {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.cart-item-details {
    flex: 2;
}

.cart-item-title {
    font-size: 1.2em;
}

.cart-item-price {
    font-size: 1.1em;
    color: #f00;
}

.cart-item-quantity {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quantity-controls {
    display: flex;
    gap: 5px;
    align-items: center;
}

.cart-item-total {
    flex: 1;
    text-align: right;
    font-size: 1.2em;
    font-weight: bold;
}

.delete-btn {
    background-color: #ff6666;
    color: white;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    padding: 0 10px;
    margin-left: 7px;
}

.delete-btn:hover {
    background-color: #ff3333;
}