/* 첫 번째 드롭다운 스타일 */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.dropdown-content li {
    width: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* 두 번째 드롭다운 스타일 */
.dropdown-sub-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.dropdown-sub:hover .dropdown-sub-content {
    display: block;
}

/* 서브 드롭다운에서 호버 시 */
.dropdown-sub-content a:hover {
    background-color: #ddd;
}