<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../css/nav.css">
    <title>GoodsShop_Home</title>
    <style>
        .a{
            margin: 20px;
        }
    </style>
</head>
<body>
    <div th:replace="include/nav :: navbar"></div>

    <div class="a">
        <h2>안녕하세요 굿즈샵입니다.</h2>
        <p>홈은 어떻게 꾸며야할지 감 자체가 잡히지 않아용 어캐해야할까용</p>
    </div>

</body>
</html>